<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {

        <aside class="side-nav" id="show-side-navigation1">
            <div class="heading">
                <img src="https://yt3.ggpht.com/-v6ueJEAFe5E/AAAAAAAAAAI/AAAAAAAAAAA/QexJ3Y8Xxtc/s900-c-k-no-rj-c0xffffff/photo.jpg" alt="">

                <div id="bla" class="info">
                    <h3>
                        <a href="#">@User.Identity.Name</a>
                    </h3>
                    <p>Via University College</p>
                </div>

            </div>

            <ul class="categories">
                <li>
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#"> About us</a>

                </li>
                <li>
                    <i class="fa fa-support fa-fw"></i>
                    <a asp-area="" asp-controller="Project" asp-action="Index">Projects</a>
                </li>
                <li>
                    <i class="fa fa-envelope fa-fw"></i><a href="#"> Calendar</a>
                </li>
                <li>
                    <i class="fa fa-bolt fa-fw"></i><a href="#"> Tasks</a>
                </li>
            </ul>

        </aside>
        <section id="contents">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">VIA<span class="main-color"> Scrum</span></a>
                    </div>
                    <div style="float: right;">
                    <a asp-controller="Login" asp-action="LogOut" style="margin-right: 4px"><i class="fa fa-sign-out" ></i> Log out</a>
                    <a href="#">
                        <i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i>
                    </a>
                    </div>
                </div>
            </nav>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </section>
    }
    else
    {
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    }


    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script type="text/javascript" src="~/js/navbar.js"></script>
    <script type="text/javascript" src="~/js/utility.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>